@import "tailwindcss";

/* *{
  scrollbar-width: none;
} */

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

@font-face {
  font-family: "Aldo";
  src: url("/fonts/aldo/Aldo PC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme{
  --font-Poppins: "Poppins",sans-serif;
  --font-Aldo: "Aldo", sans-serif;
}

.starterDiv{
  @apply min-h-[100dvh] flex justify-center text-4xl;
}

.mainDiv{
  @apply min-h-[100dvh] w-full overflow-x-hidden;
}

/* Clip Paths */

.image{
  @apply w-[98.5%] aspect-[16/9]
    bg-[url('src/assets/layout/Imgage.png')]
    bg-no-repeat
    bg-contain
  ;
}
